@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f0ee;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes highlightSweep {
  0% {
    transform: translateX(-120%) rotate(25deg);
    opacity: 0;
  }
  40% {
    opacity: 0.7;
  }
  100% {
    transform: translateX(120%) rotate(25deg);
    opacity: 0;
  }
}

.highlight-sweep::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent 30%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 70%
  );
  transform: translateX(-120%) rotate(25deg);
  animation: highlightSweep 2.2s ease-in-out infinite;
}
