.falling-leaves {
  position: fixed;
  inset: 0;
  z-index: 5;              /* ABOVE background */
  pointer-events: none;
}

.leaf-scene {
  position: absolute;
  inset: 0;
}

.leaf {
  position: absolute;
  width: 22px;
  height: 22px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/125707/leaf.svg")
    no-repeat center;
  background-size: contain;
  opacity: 0.7;
}
